html,
body {
	height: 100%;
}

#root {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.spinner {
	height: 100px !important;
	width: 100px !important;
	color: #f8f8f8;
}